{{> header }}
<a href="./doggoProfile">Sign Up</a>
<a href="./doggoDaily">Doggo Daily</a> 

<form action="/login" method="post">
<input type="text" name="username" placeholder="Insert username">
<input type="text" name="password" placeholder="Insert password">
<input type="submit" value="Log In">
</form>