{{> header }}
<div class="links">
<a href="./doggoProfile">Sign Up</a>
<a href="./doggoDaily">Doggo Daily</a> 
</div>

<form action="/login" method="post" class="form_H">
<input type="text" name="username" placeholder="Insert username" class="usernameH">
<input type="text" name="password" placeholder="Insert password" class="passwordH">
<input type="submit" value="Log In" class="submitH">
</form>

