<div class="homeIntro">
{{#if signedIn}}
{{> header }}





{{else}}
<h1 class="title">{{title}}</h1>
<a href="./registerR">Sign Up</a>

<form action="/login" method="post" class="homeForm">
<input type="text" name="username" placeholder="Insert username">
<input type="password" name="password" placeholder="Insert password">
<input type="submit" value="Log In">
{{error}}
</form>

{{/if}}
</div>